.card {
    border: 1px solid var(--headline);
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 8px;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card > span {
    cursor: pointer;
}
.card-title {
    margin-bottom: 5px;
}
.fav-icon {
    color: red;
    transition: all .5s ease;
}

.fav-icon:hover {
    scale: calc(1.2);
}

.nofav-icon {
    color: var(--headline);
    transition: all .5s ease;
}

.nofav-icon:hover {
   scale:calc(1.2);
}

.card-img {
    width: 70%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
}

.card-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 3px;
    flex: 1;
}



.alive {
    color: red;
    
}

.unknown {
    color: blue;
}

.dead {
    color: #000;
}
